/*Centering a Div Horizontally*/

margin-left: auto;
margin-right: auto;

/*Centering Vertically*/
top: 50%; /*Vertically centers the top of the element within the div it's in.*/
transform: translate(-50%); /*This is 50% of the element's height, so it shifts it back up by that amount.
In other words, it "centers the center" of the element instead of centering the top of the element.*/

/*This same technique can be used for horizontal centering as well.*/