* {
  font-family: Helvetica, Arial, Sans-Serif;
}

a {
  background-color: transparent;
  color: #fff;
}

a,
a:active {
  text-decoration: none;
  transition: .3s;
}

a:active,
a:hover {
  outline: 0;
}

/* BUTTONS */
.bmw-primary-btn-wrapper {
  position: relative;
  width: 191px; /* BMW mandate */
  height: 51px; /* BMW mandate */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(28,98,197,1)), color-stop(50%, rgba(28,105,211,1)), color-stop(100%, rgba(28,105,211,1)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%); /* BMW mandate */
  background-position: left top;
  background-size: 100% 200%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.bmw-primary-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  font-weight: bold;
  font-size: 14px; /* BMW mandate */
  text-transform: uppercase; /* BMW mandate */
  color: #fff; /* BMW mandate */
}

.bmw-primary-btn-wrapper:hover,
.bmw-primary-btn-wrapper:active,
.bmw-primary-btn-wrapper:focus {
  background-color: transparent;
  background-position: left bottom;
}

.bmw-secondary-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#666766), to(#979799));
  background: -webkit-linear-gradient(#666766, #979799);
  background: -o-linear-gradient(#666766, #979799);
  background: linear-gradient(#666766, #979799); /* BMW mandate */
}

.bmw-secondary-btn:hover,
.bmw-secondary-btn:active,
.bmw-secondary-btn:focus {
  background: #b5b5b5; /* BMW mandate */
}