* {
  font-family: Helvetica, Arial, Sans-Serif;
}

#marquee-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 59px; /* Can be reduced for smaller screens */
  line-height: 1;
  /*color: #fff;
  color: #000;*/
}

.marquee-content {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px; /* Can be reduced for smaller screens */
  line-height: 1.25;
  /*color: #fff;
  color: #000;*/
}

.promos-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px; /* Can be reduced for smaller screens */
  line-height: 1.22;
  /*color: #fff;
  color: #000;*/
}

.promos-content {
  font-weight: normal;
  font-size: 19px; /* Can be reduced for smaller screens */
  line-height: 1.43;
  /*color: #fff;
  color: #000;*/
}

.section-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 48px; /* Can be reduced for smaller screens */
  line-height: 1.11;
  /*color: #fff;
  color: #000;*/
}

.body-copy {
  font-weight: normal;
  font-size: 19px; /* Can be reduced for smaller screens */
  line-height: 1.43;
  /*color: #fff;
  color: #000;*/
}

.legal-content {
  color: #666766;
  font-size: 13px; /* Can shrink to 11px if necessary */
  line-height: 1.6;
}

a {
  background-color: transparent;
  color: #fff;
}

a,
a:active {
  text-decoration: none;
  transition: .3s;
}

a:active,
a:hover {
  outline: 0;
}

/* BUTTONS */
.bmw-primary-btn-wrapper {
  position: relative;
  width: 191px; /* BMW mandate */
  height: 51px; /* BMW mandate */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(28,98,197,1)), color-stop(50%, rgba(28,105,211,1)), color-stop(100%, rgba(28,105,211,1)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%); /* BMW mandate */
  background-position: left top;
  background-size: 100% 200%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.bmw-primary-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  font-weight: bold;
  font-size: 14px; /* BMW mandate */
  text-transform: uppercase; /* BMW mandate */
  color: #fff; /* BMW mandate */
}

.bmw-primary-btn-wrapper:hover,
.bmw-primary-btn-wrapper:active,
.bmw-primary-btn-wrapper:focus {
  background-color: transparent;
  background-position: left bottom;
}

.bmw-secondary-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#666766), to(#979799));
  background: -webkit-linear-gradient(#666766, #979799);
  background: -o-linear-gradient(#666766, #979799);
  background: linear-gradient(#666766, #979799); /* BMW mandate */
}

.bmw-secondary-btn:hover,
.bmw-secondary-btn:active,
.bmw-secondary-btn:focus {
  background: #b5b5b5; /* BMW mandate */
}

/* ACURA */

/*body {
  background: gray;
}

.btn-wrapper {
  text-align: left;
  margin-bottom: 23px;
  position: relative;
}

.acr-cta-r-trans-w {
  display: inline-block;
  min-width: 190px;
  max-width: 290px;
  border: 2px solid #e82c2a;
  background: linear-gradient(to right, #e82c2a 50%, transparent 0);
  background-position: right bottom;
  background-size: 200% 100%;
  padding: 1.4rem 3.1rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.4rem;
  letter-spacing: .07rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all .3s ease;
}

.acr-cta-r-trans-w:hover {
  background-color: transparent;
  background-position: left bottom;
  color: #fff;
}

.cta-click {
  color: #fff;
  text-align: center;
}

a {
  background-color: transparent;
  color: #fff;
}

a,
a:active {
  text-decoration: none;
  transition: .2s;
}

a:active,
a:hover {
  outline: 0;
}*/










/* Foundation Breakpoints */

/* Small only (below 640px) */
@media screen and (max-width: 39.9375em) {}

/* Medium and up (above 640px) */
@media screen and (min-width: 40em) {}

/* Medium only (between 640px and 1024px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (above 1024px) */
@media screen and (min-width: 64em) {

  #marquee-headline {
    font-size: 59px; /* Fallback in case size was reduced on smaller screens */
  }

  .marquee-content {
    font-size: 27px; /* Fallback in case size was reduced on smaller screens */
  }

  .promos-headline {
    font-size: 24px; /* Fallback in case size was reduced on smaller screens */
  }

  .promos-content {
    font-size: 19px; /* Fallback in case size was reduced on smaller screens */
  }

  .section-title {
    font-size: 48px; /* Fallback in case size was reduced on smaller screens */
  }

  .body-copy {
    font-size: 19px; /* Fallback in case size was reduced on smaller screens */
  }

  .legal-content {
    font-size: 13px; /* Can shrink to 11px if necessary */
  }

}

/* Large only (between 1024px and 1200px) */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}